body {
  background-color: #0b4050;
  font-family: 'Nunito Sans', sans-serif;
}

header,
main {
  padding: 2rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




