nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 111, 188);
    list-style: none;
  }
  
  nav ul a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
  }